<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="application-name" content="<%= meta.app_name %>">
    <meta name="description" content="<%= meta.app_description %>">
    <meta name="keywords" content="<%= meta.app_keywords %>">
    <meta name="image" content="/background.gif" />

    <!-- meta http-equiv="refresh" content="30" --> <!-- e refresh niya ang docs every 30 sec-->

    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= meta.app_url %>" />
    <meta property="og:title" content="<%= meta.app_title %>" />
    <meta property="og:description" content="<%= meta.app_description %>" />
    <meta property="og:image" content="<%= meta.app_url %>/background.gif" />
    
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= meta.app_url %>" />
    <meta property="twitter:title" content="<%= meta.app_title %>" />
    <meta property="twitter:description" content="<%= meta.app_description %>" />
    <meta property="twitter:image" content="<%= meta.app_url %>/background.gif" />
    <meta name="twitter:site" content="@<%= meta.app_name %>">

    <title><%= meta.app_title %></title>
    <link rel="icon" href="<%= meta.app_url %>/favicon.ico" />
    <!-- link rel="manifest" href="/icons/manifest.json" /-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    
    <noscript>Your browser does not support JavaScript!</noscript>
    <% if (environment === 'production') { %>
    <link rel="stylesheet" href="<%= manifest['src/main.css'].file %>" />
    <% } %>
  </head>
  <body>
    <!-- Main div -->
    <div id="app" class="relative w-full h-full min-h-screen overflow-x-hidden"></div>
    <!-- End Main div -->
  
    <% if(environment === 'production') { %>
    <script type="module" src="<%= manifest['src/main.js'].file %>"></script>
    <script type="application/ld+json" src="/schema-ld.json"></script>
    <% } else { %>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.js"></script>
    <% } %>
  </body>
  
</html>
